*{
    position: absolute;
    text-align: center;
}
.Recuadro{
    margin-top: 20vh;
    margin-left: 33vw;
    height: 70vh;
    width: 34vw;
    background-color: rgba(0, 191, 255, 1);
    border-style: double;
    border-width: 10px;
    box-sizing: border-box;
    border-color: black;
    border-radius: 22px;
    box-shadow: 0px 10px 10px black;
}
.Preguntar_por_la_cuenta{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 76vh;
    margin-left: 2.35vw;
    width: 96vw;
    height: 3vh;
}
.Enlace_para_el_registro{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 79vh;
    margin-left: 2.35vw;
    width: 96vw;
    height: 3vh;
}
.Ingresar_correo{
    margin-top: 28vh;
    margin-left: 40.5vw;
    height: 3vh;
    width: 20vw;
    background-color: chartreuse;
    border-style: solid;
    border-color: black;
    border-radius: 22px 22px 0px 0px;
    box-shadow: 0px 10px 10px black;
}
.Poner_aqu__el_correo{
    margin-top: 31vh;
    margin-left: 38vw;
    height: 3vh;
    width: 24vw;
    border-style: solid;
    border-color: black;
    border-radius: 22px 22px 22px 22px;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px black;
}
.Ingresar_contrase_a{
    margin-top: 46vh;
    margin-left: 40.5vw;
    height: 3vh;
    width: 20vw;
    background-color: chartreuse;
    border-style: solid;
    border-color: black;
    border-radius: 22px 22px 0px 0px;
    box-shadow: 0px 10px 10px black;
}
.Poner_aqu__la_contrase_a{
    margin-top: 49vh;
    margin-left: 38vw;
    height: 3vh;
    width: 24vw;
    border-style: solid;
    border-color: black;
    border-radius: 22px 22px 22px 22px;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px black;
}
.Iniciar_sesi_n{
    margin-top: 64vh;
    margin-left: 45.375vw;
    height: 3vh;
    width: 10vw;
    background-color: rgb(248, 178, 16);
    border-radius: 22px 22px 22px 22px;
    border-style: groove;
    border-color: aquamarine;
    border-width: 3px;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px black;
}
.Iniciar_sesi_n:hover{
    margin-top: 64vh;
    margin-left: 45.375vw;
    height: 3vh;
    width: 10vw;
    background-color: rgb(255, 255, 0);
    border-radius: 22px 22px 22px 22px;
    border-style: groove;
    border-color: aquamarine;
    border-width: 3px;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px black;
}