*{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    position: absolute;
}
.Tabla{
    display: table;
}
.Fila{
    display: table-row;
}
.Celda1{
    display: table-cell;
    border: 0.3vw double black;
    height: 21vh;
    width: 20vw;
    box-sizing: border-box;
    padding-top: 14.5vh;
    text-align: center;
    margin-top: 42.5vh;
    margin-left: 8.8vw;
    text-decoration: underline;
    color: blue;
    background: url(/Proyecto/Fotos/Introducci_n.jpeg), linear-gradient(to bottom, rgb(0, 183, 255) 61%, rgb(172, 254, 101) 39%);
    background-size: 8vw 12.2vh, cover;
    background-position: top center, top left;
    background-repeat: no-repeat, no-repeat;
}
.Celda1:hover{
    display: table-cell;
    border: 0.3vw double black;
    height: 21vh;
    width: 20vw;
    box-sizing: border-box;
    padding-top: 14.5vh;
    text-align: center;
    margin-top: 42.5vh;
    margin-left: 8.8vw;
    text-decoration: underline;
    color: blue;
    background: url(/Proyecto/Fotos/Introducci_n.jpeg), linear-gradient(to bottom, rgb(0, 183, 255) 61%, rgb(110, 220, 88) 39%);
    background-size: 8vw 12.2vh, cover;
    background-position: top center, top left;
    background-repeat: no-repeat, no-repeat;
}
.Celda2{
    display: table-cell;
    border: 0.3vw double black;
    height: 21vh;
    width: 20vw;
    box-sizing: border-box;
    padding-top: 14.5vh;
    text-align: center;
    margin-top: 42.5vh;
    margin-left: 29.4vw;
    text-decoration: underline;
    color: blue;
    background: url(/Proyecto/Fotos/Arreglos.png), linear-gradient(to bottom, rgb(0, 183, 255) 61%, rgb(172, 254, 101) 39%);
    background-size: 144px 34px, cover;
    background-position: 50% 25%, top left;
    background-repeat: no-repeat, no-repeat;
}
.Celda2:hover{
    display: table-cell;
    border: 0.3vw double black;
    height: 21vh;
    width: 20vw;
    box-sizing: border-box;
    padding-top: 14.5vh;
    text-align: center;
    margin-top: 42.5vh;
    margin-left: 29.4vw;
    text-decoration: underline;
    color: blue;
    background: url(/Proyecto/Fotos/Arreglos.png), linear-gradient(to bottom, rgb(0, 183, 255) 61%, rgb(110, 220, 88) 39%);
    background-size: 144px 34px, cover;
    background-position: 50% 25%, top left;
    background-repeat: no-repeat, no-repeat;
}
.Celda3{
    display: table-cell;
    border: 0.3vw double black;
    height: 21vh;
    width: 20vw;
    box-sizing: border-box;
    padding-top: 14.5vh;
    text-align: center;
    margin-top: 42.5vh;
    margin-left: 49.95vw;
    text-decoration: underline;
    color: blue;
    background: url(/Proyecto/Fotos/Grafo.png), linear-gradient(to bottom, rgb(0, 183, 255) 61%, rgb(172, 254, 101) 39%);
    background-size: 6vw 12.2vh, cover;
    background-position: top center, top left;
    background-repeat: no-repeat, no-repeat;
}
.Celda3:hover{
    display: table-cell;
    border: 0.3vw double black;
    height: 21vh;
    width: 20vw;
    box-sizing: border-box;
    padding-top: 14.5vh;
    text-align: center;
    margin-top: 42.5vh;
    margin-left: 49.95vw;
    text-decoration: underline;
    color: blue;
    background: url(/Proyecto/Fotos/Grafo.png), linear-gradient(to bottom, rgb(0, 183, 255) 61%, rgb(110, 220, 88) 39%);
    background-size: 6vw 12.2vh, cover;
    background-position: top center, top left;
    background-repeat: no-repeat, no-repeat;
}
.Celda4{
    display: table-cell;
    border: 0.3vw double black;
    height: 21vh;
    width: 20vw;
    box-sizing: border-box;
    padding-top: 14.5vh;
    text-align: center;
    margin-top: 42.5vh;
    margin-left: 70.5vw;
    text-decoration: underline;
    color: blue;
    background: url(/Proyecto/Fotos/Otros.jpg), linear-gradient(to bottom, rgb(0, 183, 255) 61%, rgb(172, 254, 101) 39%);
    background-size: 8vw 12.2vh, cover;
    background-position: top center, top left;
    background-repeat: no-repeat, no-repeat;
}
.Celda4:hover{
    display: table-cell;
    border: 0.3vw double black;
    height: 21vh;
    width: 20vw;
    box-sizing: border-box;
    padding-top: 14.5vh;
    text-align: center;
    margin-top: 42.5vh;
    margin-left: 70.5vw;
    text-decoration: underline;
    color: blue;
    background: url(/Proyecto/Fotos/Otros.jpg), linear-gradient(to bottom, rgb(0, 183, 255) 61%, rgb(110, 220, 88) 39%);
    background-size: 8vw 12.2vh, cover;
    background-position: top center, top left;
    background-repeat: no-repeat, no-repeat;
}