*{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: justify;
    font-weight: 600;
}
h1{
    color: red;
    text-align: center;
}
h2{
    color: blue;
    text-align: center;
}
h3{
    color: red;
}
h4{
    text-align: left;
    color: green;
    background-color: black;
    width: 800px;
    padding: 10px;
}
a:link{
  color: rgb(0, 0, 238); /* azul */
}
a:visited{
  color: rgb(85, 26, 139); /* púrpura */
}
th{
    text-align: center;
    color: red;
    background-color: rgba(255, 204, 0, 1);
}
._rbol_de_Fenwick{
    text-align: center;
    width: 28vw;
    margin-left: 36vw;
}
.Mesa_dispersa{
    text-align: center;
    width: 28vw;
    margin-left: 36vw;
}
._rbol_de_segmentos{
    text-align: center;
    width: 28vw;
    margin-left: 36vw;
}
.Tipos_de_grafos{
    text-align: center;
    width: 28vw;
    margin-left: 36vw;
}
table{
    width: 60vw;
    margin: auto;
}