*{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: justify;
    font-weight: 600;
}
.Título{
    color: red;
    text-align: center;
}
h3{
    color: red;
}
h4{
    text-align: left;
    color: green;
    background-color: black;
    width: 800px;
    padding: 10px;
}
a:link{
  color: rgb(0, 0, 238); /* azul */
}
a:visited{
  color: rgb(85, 26, 139); /* púrpura */
}
th{
    text-align: center;
    color: red;
}