*{
    position: absolute;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 60px;
}
.Caja1{
    width: 80vw;
    height: 13.9vh;
    background-color: rgba(146, 248, 44, 0.546);
    margin-top: 19vh;
    margin-left: 9.52vw;
}
.Datos{
    width: 6vw;
    height: 3vh;
    margin-top: 20vh;
    margin-left: 46.52vw;
    background-color: cyan;
}
.Dato_nombre{
    width: 60vw;
    height: 3vh;
    background-color: rgba(248, 207, 44, 0.546);
    margin-top: 24vh;
    margin-left: 19.52vw;
}
.Dato_correo{
    width: 60vw;
    height: 3vh;
    background-color: rgba(248, 207, 44, 0.546);
    margin-top: 28.4vh;
    margin-left: 19.52vw;
}
.Caja2{
    width: 80vw;
    height: 55vh;
    background-color: rgba(146, 248, 44, 0.546);
    margin-top: 34.6vh;
    margin-left: 9.52vw;
}
.Modificar_datos{
    width: 12vw;
    height: 3vh;
    margin-top: 35.7vh;
    margin-left: 43.52vw;
    background-color: cyan;
}
.Nombre{
    width: 16vw;
    height: 3vh;
    background-color: rgba(248, 207, 44, 0.546);
    margin-top: 39.8vh;
    margin-left: 41.52vw;
}
.Dar_nombre{
    width: 24vw;
    height: 3vh;
    margin-top: 43.8vh;
    margin-left: 37.52vw;
}
.Correo{
    width: 16vw;
    height: 3vh;
    background-color: rgba(248, 207, 44, 0.546);
    margin-top: 48.7vh;
    margin-left: 41.52vw;
}
.Dar_correo{
    width: 24vw;
    height: 3vh;
    margin-top: 52.8vh;
    margin-left: 37.52vw;
}
.Contrase_a{
    width: 16vw;
    height: 3vh;
    background-color: rgba(248, 207, 44, 0.546);
    margin-top: 57.7vh;
    margin-left: 41.52vw;
}
.Dar_contrase_a{
    width: 24vw;
    height: 3vh;
    margin-top: 61.7vh;
    margin-left: 37.52vw;
}
.Contrase_a2{
    width: 16vw;
    height: 3vh;
    background-color: rgba(248, 207, 44, 0.546);
    margin-top: 66.6vh;
    margin-left: 41.52vw;
}
.Dar_contrase_a2{
    width: 24vw;
    height: 3vh;
    margin-top: 70.7vh;
    margin-left: 37.52vw;
}
.Antigua_contrase_a{
    width: 16vw;
    height: 3vh;
    background-color: rgba(248, 207, 44, 0.546);
    margin-top: 75.6vh;
    margin-left: 41.52vw;
}
.Dar_antigua_contrase_a{
    width: 24vw;
    height: 3vh;
    margin-top: 79.7vh;
    margin-left: 37.52vw;
}
.Enviar{
    width: 16vw;
    height: 3vh;
    margin-top: 84.6vh;
    margin-left: 41.52vw;
    background-color: cyan;
    border-radius: 22px 22px 22px 22px;
}
.Enviar:hover{
    width: 16vw;
    height: 3vh;
    margin-top: 84.6vh;
    margin-left: 41.52vw;
    background-color: rgb(0, 179, 255);
    border-radius: 22px 22px 22px 22px;
}