*{
    /*position: absolute;*/
    margin: 0px;
}
body{
    background-color: rgba(0, 255, 255, 0.124);
}
.Fondo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/Proyecto/Fotos/C++.png") no-repeat center center;
    background-size: 44vw 100vh;
    opacity: 0.4;
    z-index: -1;
}
.Barra_superior{
    text-align: center;
    position: absolute;
    background-color: rgb(255, 0, 0);
    margin-top: 0px;
    margin-left: 0px;
    width: 100vw;
    height: 9.5vh;
    border: 0px solid black;
}
.Inicio{
    text-align: center;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: gold;
    margin-top: 0.5vh;
    margin-left: 0.5vw;
    width: 20vw;
    height: 8vh;
    border: 0.5vh solid white;
    border-radius: 44px 44px 44px 44px;
}
.Inicio:hover{
    text-align: center;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: rgb(255, 255, 0);
    margin-top: 0.5vh;
    margin-left: 0.5vw;
    width: 20vw;
    height: 8vh;
    border: 0.5vh solid white;
    border-radius: 44px 44px 44px 44px;
}
.Cursos{
    text-align: center;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: gold;
    margin-top: 0.5vh;
    margin-left: 26.5vw;
    width: 20vw;
    height: 8vh;
    border: 0.5vh solid white;
    border-radius: 44px 44px 44px 44px;
}
.Cursos:hover{
    text-align: center;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: rgb(255, 255, 0);
    margin-top: 0.5vh;
    margin-left: 26.5vw;
    width: 20vw;
    height: 8vh;
    border: 0.5vh solid white;
    border-radius: 44px 44px 44px 44px;
}
.Problemas{
    text-align: center;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: gold;
    margin-top: 0.5vh;
    margin-left: 52.5vw;
    width: 20vw;
    height: 8vh;
    border: 0.5vh solid white;
    border-radius: 44px 44px 44px 44px;
}
.Problemas:hover{
    text-align: center;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: rgb(255, 255, 0);
    margin-top: 0.5vh;
    margin-left: 52.5vw;
    width: 20vw;
    height: 8vh;
    border: 0.5vh solid white;
    border-radius: 44px 44px 44px 44px;
}
.Cuentas{
    text-align: center;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: gold;
    margin-top: 0.5vh;
    margin-left: 79.5vw;
    width: 20vw;
    height: 8vh;
    border: 0.5vh solid white;
    border-radius: 44px 44px 44px 44px;
}
.Cuentas:hover{
    text-align: center;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: rgb(255, 255, 0);
    margin-top: 0.5vh;
    margin-left: 79.5vw;
    width: 20vw;
    height: 8vh;
    border: 0.5vh solid white;
    border-radius: 44px 44px 44px 44px;
}
.Perfil{
    text-align: center;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: gold;
    margin-top: 0.5vh;
    margin-left: 47.5vw;
    width: 4vw;
    height: 8vh;
    border: 0.5vh solid white;
    border-radius: 44px 44px 44px 44px;
    padding: 0px;
}
.Perfil:hover{
    text-align: center;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: rgb(255, 255, 0);
    margin-top: 0.5vh;
    margin-left: 47.5vw;
    width: 4vw;
    height: 8vh;
    border: 0.5vh solid white;
    border-radius: 44px 44px 44px 44px;
    padding: 0px;
}