*{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    position: absolute;
}
.Tabla{
    display: table;
}
.Fila{
    display: table-row;
}
.Celda1{
    display: table-cell;
    border: 0.3vw double black;
    height: 21vh;
    width: 20vw;
    box-sizing: border-box;
    padding-top: 14.5vh;
    text-align: center;
    margin-top: 29.875vh;
    margin-left: 20vw;
    text-decoration: underline;
    color: blue;
    background: url(/Proyecto/Fotos/Introducci_n.jpeg), linear-gradient(to bottom, rgb(255, 85, 0) 61%, rgb(172, 254, 101) 39%);
    background-size: 8vw 12.2vh, cover;
    background-position: top center, top left;
    background-repeat: no-repeat, no-repeat;
    box-shadow: 0px 10px 10px black;
    border-radius: 22px;
}
.Celda1:hover{
    display: table-cell;
    border: 0.3vw double black;
    height: 21vh;
    width: 20vw;
    box-sizing: border-box;
    padding-top: 14.5vh;
    text-align: center;
    margin-top: 29.875vh;
    margin-left: 20vw;
    text-decoration: underline;
    color: blue;
    background: url(/Proyecto/Fotos/Introducci_n.jpeg), linear-gradient(to bottom, rgb(255, 85, 0) 61%, rgb(110, 220, 88) 39%);
    background-size: 8vw 12.2vh, cover;
    background-position: top center, top left;
    background-repeat: no-repeat, no-repeat;
    box-shadow: 0px 10px 10px black;
    border-radius: 22px;
}
.Celda2{
    display: table-cell;
    border: 0.3vw double black;
    height: 21vh;
    width: 20vw;
    box-sizing: border-box;
    padding-top: 14.5vh;
    text-align: center;
    margin-top: 29.875vh;
    margin-left: 60vw;
    text-decoration: underline;
    color: blue;
    background: url(/Proyecto/Fotos/Arreglos.png), linear-gradient(to bottom, rgb(255, 85, 0) 61%, rgb(172, 254, 101) 39%);
    background-size: 144px 34px, cover;
    background-position: 50% 25%, top left;
    background-repeat: no-repeat, no-repeat;
    box-shadow: 0px 10px 10px black;
    border-radius: 22px;
}
.Celda2:hover{
    display: table-cell;
    border: 0.3vw double black;
    height: 21vh;
    width: 20vw;
    box-sizing: border-box;
    padding-top: 14.5vh;
    text-align: center;
    margin-top: 29.875vh;
    margin-left: 60vw;
    text-decoration: underline;
    color: blue;
    background: url(/Proyecto/Fotos/Arreglos.png), linear-gradient(to bottom, rgb(255, 85, 0) 61%, rgb(110, 220, 88) 39%);
    background-size: 144px 34px, cover;
    background-position: 50% 25%, top left;
    background-repeat: no-repeat, no-repeat;
    box-shadow: 0px 10px 10px black;
    border-radius: 22px;
}
.Celda3{
    display: table-cell;
    border: 0.3vw double black;
    height: 21vh;
    width: 20vw;
    box-sizing: border-box;
    padding-top: 14.5vh;
    text-align: center;
    margin-top: 60.125vh;
    margin-left: 20vw;
    text-decoration: underline;
    color: blue;
    background: url(/Proyecto/Fotos/Grafo.png), linear-gradient(to bottom, rgb(255, 85, 0) 61%, rgb(172, 254, 101) 39%);
    background-size: 6vw 12.2vh, cover;
    background-position: top center, top left;
    background-repeat: no-repeat, no-repeat;
    box-shadow: 0px 10px 10px black;
    border-radius: 22px;
}
.Celda3:hover{
    display: table-cell;
    border: 0.3vw double black;
    height: 21vh;
    width: 20vw;
    box-sizing: border-box;
    padding-top: 14.5vh;
    text-align: center;
    margin-top: 60.125vh;
    margin-left: 20vw;
    text-decoration: underline;
    color: blue;
    background: url(/Proyecto/Fotos/Grafo.png), linear-gradient(to bottom, rgb(255, 85, 0) 61%, rgb(110, 220, 88) 39%);
    background-size: 6vw 12.2vh, cover;
    background-position: top center, top left;
    background-repeat: no-repeat, no-repeat;
    box-shadow: 0px 10px 10px black;
    border-radius: 22px;
}
.Celda4{
    display: table-cell;
    border: 0.3vw double black;
    height: 21vh;
    width: 20vw;
    box-sizing: border-box;
    padding-top: 14.5vh;
    text-align: center;
    margin-top: 60.125vh;
    margin-left: 60vw;
    text-decoration: underline;
    color: blue;
    background: url(/Proyecto/Fotos/Otros.jpg), linear-gradient(to bottom, rgb(255, 85, 0) 61%, rgb(172, 254, 101) 39%);
    background-size: 8vw 12.2vh, cover;
    background-position: top center, top left;
    background-repeat: no-repeat, no-repeat;
    box-shadow: 0px 10px 10px black;
    border-radius: 22px;
}
.Celda4:hover{
    display: table-cell;
    border: 0.3vw double black;
    height: 21vh;
    width: 20vw;
    box-sizing: border-box;
    padding-top: 14.5vh;
    text-align: center;
    margin-top: 60.125vh;
    margin-left: 60vw;
    text-decoration: underline;
    color: blue;
    background: url(/Proyecto/Fotos/Otros.jpg), linear-gradient(to bottom, rgb(255, 85, 0) 61%, rgb(110, 220, 88) 39%);
    background-size: 8vw 12.2vh, cover;
    background-position: top center, top left;
    background-repeat: no-repeat, no-repeat;
    box-shadow: 0px 10px 10px black;
    border-radius: 22px;
}
.Clasificaci_n{
    text-align: center;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: gold;
    margin-top: 15vh;
    margin-left: 39.5vw;
    width: 20vw;
    height: 8vh;
    border: 0.5vh solid white;
    border-radius: 44px 44px 44px 44px;
    box-shadow: 0px 10px 10px black;
    border-radius: 22px;
}
.Clasificaci_n:hover{
    text-align: center;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: rgb(255, 255, 0);
    margin-top: 15vh;
    margin-left: 39.5vw;
    width: 20vw;
    height: 8vh;
    border: 0.5vh solid white;
    border-radius: 44px 44px 44px 44px;
    box-shadow: 0px 10px 10px black;
    border-radius: 22px;
}